<% exam_id=@exam_rater.pop(1) %>
  <h3>填入阅卷老师的E-mail</h3>
  <p><input name="" type="text" id="email_<%= exam_id[0] %>" /><%= image_tag "ajax-loader.gif", :id => "spinner_add_#{exam_id[0]}", :style => "display:none" %><button class="t_btn" id="button_<%= exam_id[0] %>" onclick="javascript:valid_email(<%= exam_id[0] %>)">添加</button></p>
  <%  unless @exam_rater.blank? %>
    <h3>阅卷老师列表</h3>
    <% @exam_rater.each do |rater|%>
      <div>
        <%= rater.email %><a onclick="javascript:delete_rater(<%= exam_id[0] %>,'<%= rater.email %>')"> [删除]<%= image_tag "ajax-loader.gif", :id => "spinner_delete_#{exam_id[0]}", :style => "display:none" %></a>
      </div>
    <% end  %>
  <% else %>
    <%= "暂无阅卷老师，可再上方添加" %>
  <% end %>
  <span class="yj_x" id="yj_x_<%=exam_id[0]  %>"><img src="/assets/x.gif" /></span>
     <script type="text/javascript">
      show_rater(<%= exam_id[0] %>);
    </script>