
<table width="100%" border="0" cellpadding="0" cellspacing="1" class="user_tb">
  <tr class="tr_bg">
    <td>代理人</td>
    <td>批次号</td>
    <td>数量</td>
    <td>时间</td>
    <td>已使用/未使用</td>
  </tr>
  <%if @vices.blank?%>
    <tr> <td colspan="5">未搜索到详情</td></tr>
  <% else %>
    <% @vices.each do |code| %>
      <tr>
        <td><%=code.v_name %></td>
        <td><%=code.num %></td>
        <td><%= code.total_count %></td>
        <td><%= code.created_at.nil?? "" : code.created_at.strftime("%Y-%m-%d") %></td>
        <td><%="#{code.used_count}/#{code.n_used_count}" %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate_remote(@vices ,  "" ,{:url => "/licenses/code_details"}) %>
