<script type="text/javascript" src="/assets/My97DatePicker/WdatePicker.js" ></script>
<%= javascript_include_tag "licenses" %>
<div class="main_title">
  <div class="m_t_h">授权码管理</div>
</div>

<div class="text_box">
  <div class="code_top">
    <%= form_for :license ,:url=>"/licenses/search", :method => "post",
      :html => {:onsubmit => "return search_license_form()"} do |f|%>
      <span>
        <input name="code" id="code" type="text" />
        <button type="submit" class="t_search"></button>
      </span>
      <span><button type="button" class="t_btn" onclick="javascript:show_gen_code();" >生成授权码</button></span>
      <span><button type="button" class="t00_btn">授权码使用详情</button></span>
    <% end %>
  </div>
  <div class="user_list">
    <table width="100%" border="0" cellpadding="0" cellspacing="1" class="user_tb">
      <tr class="tr_bg">
        <td>授权码号</td>
        <td>代理人</td>
        <td>生成时间</td>
        <td>使用人</td>
        <td>使用时间</td>
        <td>操作</td>
      </tr>
      <% unless @invite_codes.blank? %>
        <% @invite_codes.each do |invite| %>
          <tr>
            <td><%= invite.code %></td>
            <td><%= invite.v_name %></td>
            <td><%= invite.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= invite.u_name %></td>
            <td><%= invite.use_time %></td>
            <td>作废</td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">暂无记录</td>
        </tr>
      <% end %>
    </table>
    <%=  will_paginate @invite_codes ,:previous_label=>" &lt;", :next_label=>" &gt;" %>
  </div>
</div>
<div class="add_codeTab" id="add_codeTab" style="display: none;">
  <%= form_for :license ,:url=>"/licenses/generate", :method => "post",
    :html => {:onsubmit => "return gen_license_form()"} do |f|%>
    <span class="yj_x" onclick="javascript:pop_window_closed(this);"><img src="/assets/x.gif" /></span>
    <div class="add_codeList">
      <label>生成数量：</label><input name="num" id="num" type="text"/>
    </div>
    <div class="add_codeList">
      <label>有效期至：</label><input name="ended_at" id="ended_at" type="text" onClick="WdatePicker();" class="Wdate"/>
    </div>
    <div class="add_codeList">
      <label>指定代理人：</label><input name="vicegerent" id="vicegerent" type="text" value=""/>
      <button type="button" class="t_search" onclick="javascript:search_vicegerent();" ></button>
    </div>
    <div class="add_codeList" id="v_list_div" style="display:none;">
    </div>
    <div class="c_btn_div"><button class="t_btn">确定</button></div>
  <% end %>
</div>
