<span class="yj_x"><img src="/assets/x.gif" onclick="$('.answer_tab').css('display','none')" /></span>
<div class="answer_tab_box">
  <% if  @answers.blank?%>
    <div class="answer_tab_list">
      <p>
        <%= "暂无回答"  %>
      </p>
    </div>
  <% else %>
    <%@answers.each do |answer|%>
      <div class="answer_tab_list">
        <p>
          <%= answer.answer %>
        </p>
        <p><a style="cursor: pointer" onclick="delete_answer(<%= answer.id %>,<%=  @question.id%>,this)">删除</a>
          <a style="cursor: pointer" onclick="set_answer(<%= answer.id %>,<%=  @question.id%>,this)">设置为最佳答案</a></p>
      </div>
    <% end %>
  <% end %>
</div>
