<% if @count_num.nil? %>
  <%= "暂无统计数据" %>
<% else %>
  <%= javascript_include_tag "/assets/lazyload/jquery.lazyload" %>
  <%= javascript_include_tag "/assets/lazyload/LazyLoad" %>
  <%= javascript_include_tag "statistic" %>
  <div class="text_box">
    <div class="yy_div">
      <div class="yy_text">
        <h3>注册人次</h3>
        <%count_num=@count_num.register.split(",")%>
        <div>历史累计：<%= count_num[0] %>
          <a onclick="javascript:window.open('/statistics/user_info?action_types=1')" href="javascript:void(0);">导出</a></div>
        <div>前30日累计：<%=count_num[1] %>
          <a onclick="javascript:window.open('/statistics/user_info?action_types=2')" href="javascript:void(0);">导出</a>
        </div>
        <div>前7日累计：<%=count_num[2] %>
          <a onclick="javascript:window.open('/statistics/user_info?action_types=3')" href="javascript:void(0);">导出</a>
        </div>
        <div>前1日累计：<%=count_num[3] %>
          <a onclick="javascript:window.open('/statistics/user_info?action_types=4')" href="javascript:void(0);">导出</a>
        </div>
      </div>
      <div class="yy_img" id="img0"><img  alt="注册人次" lazysrc="<%= @chart_url[0] %>"  width="700"  height="120" id="image0" /></div>
    </div>
    <div class="yy_div">
      <div class="yy_text">
        <h3>登录人数</h3>
        <%count_num=@count_num.login.split(",")%>
        <div>历史累计：<%= count_num[0] %>
          <a onclick="javascript:window.open('/statistics/login_info?action_types=1')" href="javascript:void(0);">导出</a>
        </div>
        <div>前30日累计：<%= count_num[1] %>
          <a onclick="javascript:window.open('/statistics/login_info?action_types=2')" href="javascript:void(0);">导出</a>
        </div>
        <div>前7日累计：<%= count_num[2] %>
          <a onclick="javascript:window.open('/statistics/login_info?action_types=3')" href="javascript:void(0);">导出</a>
        </div>
        <div>前1日累计：<%= count_num[3] %>
          <a onclick="javascript:window.open('/statistics/login_info?action_types=4')" href="javascript:void(0);">导出</a>
        </div>
      </div>
      <div class="yy_img" id="img1"><img alt="登陆人数" lazysrc="<%= @chart_url[1] %>" width="700"  height="120" id="image1" /></div>
    </div>
    <div class="yy_div">
      <div class="yy_text">
        <h3>动作次数</h3>
        <%count_num=@count_num.action.split(",")%>
        <div>历史累计：<%= count_num[0] %>
          <a onclick="window.open('/statistics/action_info?action_types=1')" href="javascript:void(0);">导出</a>
        </div>
        <div>前30日累计：<%= count_num[1] %>
          <a onclick="javascript:window.open('/statistics/action_info?action_types=2')" href="javascript:void(0);">导出</a>
        </div>
        <div>前7日累计：<%= count_num[2] %>
          <a onclick="javascript:window.open('/statistics/action_info?action_types=3')" href="javascript:void(0);">导出</a>
        </div>
        <div>前1日累计：<%= count_num[3] %>
          <a onclick="javascript:window.open('/statistics/action_info?action_types=4')" href="javascript:void(0);">导出</a>
        </div>
      </div>
      <div class="yy_img" id="img2"><img alt="动作次数" lazysrc="<%= @chart_url[2] %>" width="700"  height="120" id="image2"/></div>
    </div>
    <div class="yy_div">
      <div class="yy_text">
        <h3>购买人数</h3>
        <%count_num=@count_num.pay.split(",")%>
        <div>历史累计：<%= count_num[0] %>
          <a onclick="javascript:window.open('/statistics/buyer_info?action_types=1')" href="javascript:void(0);">导出</a>
        </div>
        <div>前30日累计：<%= count_num[1] %>
          <a onclick="javascript:window.open('/statistics/buyer_info?action_types=2')" href="javascript:void(0);">导出</a>
        </div>
        <div>前7日累计：<%= count_num[2] %>
          <a onclick="javascript:window.open('/statistics/buyer_info?action_types=3')" href="javascript:void(0);">导出</a>
        </div>
        <div>前1日累计：<%=count_num[3] %>
          <a onclick="javascript:window.open('/statistics/buyer_info?action_types=4')" href="javascript:void(0);">导出</a>
        </div>
      </div>
      <div class="yy_img" id="img3"><img alt="购买人数" lazysrc="<%= @chart_url[3] %>" width="700"  height="120" id="image3" /></div>
    </div>
    <div class="yy_div">
      <div class="yy_text">
        <h3>购买金额</h3>
        <%count_num=@count_num.money.split(",")%>
        <div>历史累计：<%=count_num[0] %>
          <a onclick="javascript:window.open('/statistics/buyer_info?action_types=5')" href="javascript:void(0);">导出</a>
        </div>
        <div>前30日累计：<%=count_num[1] %>
          <a onclick="javascript:window.open('/statistics/buyer_info?action_types=6')" href="javascript:void(0);">导出</a>
        </div>
        <div>前7日累计：<%=count_num[2] %>
          <a onclick="javascript:window.open('/statistics/buyer_info?action_types=7')" href="javascript:void(0);">导出</a>
        </div>
        <div>前1日累计：<%=count_num[3] %>
          <a onclick="javascript:window.open('/statistics/buyer_info?action_types=8')" href="javascript:void(0);">导出</a>
        </div>
      </div>
      <div class="yy_img" id="img4"><img alt="购买金额" lazysrc="<%= @chart_url[4] %>" width="700"  height="120" id="image4" /></div>
    </div>
  </div>
  <script type="text/javascript">
    function Lazy2(i){
      var container = $$("img"+i);
      setTimeout(function(){//ie6渲染bug
        var elems = $$A.map( container.getElementsByTagName("img"), function(area){ return area.parentNode; }),
        lazy = new LazyLoad( elems, {
          container: container, mode: "cross",
          onLoadData: function(elem) {
            elem.getElementsByTagName("img")[0].src=$("#image"+i)[0].getAttribute("lazysrc");
          }
        });
      },1000);
    }
    for(var n=0;n<=4;n++){
      Lazy2(n);
    }
  </script>
<% end %>
