<%= javascript_include_tag "phrases" %>
<div class="main_title">
  <div class="m_t_h">词汇</div>
</div>
<%= form_for :words ,:url=>"/phrases/#{@word.id}", :method => "put",
  :html => {:onsubmit => "return edit_word_form()", :multipart => true} do |f|%>
  <div class="text_box">
    <div class="word_text">
      <input type="hidden" name="word_id" id="word_id" value="<%= @word.id %>"/>
      <input type="hidden" name="category_id" id="category_id" value="<%= params[:category] %>"/>
      <input type="hidden" name="page" id="page" value="<%= params[:page] %>"/>
      <div><label>条目：</label><input name="name" id="name" type="text" value="<%= @word.name %>"/></div>
      <div><label>词性：</label>
        <select name="types" id="types">
          <% Word::TYPES.each do |k, v| %>
            <option value="<%= k %>" <% if @word.types == k %>selected<% end %>><%= v %></option>
          <% end %>
        </select>
        <label>等级：</label>
        <select name="level" id="level" >
          <% Word::LEVEL.each do |k, v| %>
            <option value="<%= k %>" <% if @word.level == k %>selected<% end %>><%= v %></option>
          <% end %>
        </select>
      </div>
      <div>
        <label>音标：</label><input name="phonetic" id="phonetic" type="text" value="<%= @word.phonetic %>" />
        <label>音频：</label><input name="enunciate_url" id="enunciate_url" type="file" />
      </div>
      <div><label class="left_float">释义：</label>
        <textarea name="en_mean" id="en_mean" cols="" rows=""><%= @word.en_mean %></textarea>
      </div>
      <div><label class="left_float">翻译：</label>
        <textarea name="ch_mean" id="ch_mean" cols="" rows=""><%= @word.ch_mean %></textarea>
      </div>


      <div>

        <div style="clear:none;float:left;width:80px;"><label class="left_float">例句：</label></div>
        <div style="clear:none;;float:left;width:700px;">
          <% @word.word_sentences.each_with_index do |sentence,index| %>
            <input name="sentence_checkbox" type="checkbox" value="checkbox_value<%= index %>"/>
            <input id="checkbox_value<%= index %>" type="text" style="width:675px;" value="<%= sentence.description %>" />
          <% end unless @word.word_sentences.blank? %>
          <font color="red">*</font>注：句子中间不能有“;”(分号)

        </div>
        <textarea name="sentence" style="display:none;"
                  id="sentence" cols="100" rows="10"><% @word.word_sentences.each do |sentence| %><%= sentence.description %>;
                    <% end unless @word.word_sentences.blank? %>
        </textarea>
      </div>

      <div><label class="left_float">关联词：</label>
        <% discriminate = @word.discriminates[0] unless @word.discriminates.blank? or @word.discriminates[0].nil? %>
        <span><input name="search_text" id="search_text" type="text" class="t_se_input"/>
          <button type="button" class="t_search" onclick="javascript:list_similar();"></button>
        </span>
        <span id="chose_list">
          <% word_ids = []
          unless discriminate.nil? or discriminate.words.blank? or (discriminate.words.to_a - [@word]).blank?
            (discriminate.words.to_a - [@word]).each do |word|
              word_ids << word.id %>
              <span class="gl_add_span" id="similar_<%= word.id %>"><%= word.name %>
                <a href="javascript:void(0);" onclick="javascript:remove_similar(<%= word.id %>);">[删除]</a>
              </span>
            <% end %>
          <% end %>
        </span>
        <input name="re_word" id="re_word" type="hidden" value="<%= word_ids.join(",") %>" />
        <div class="words_ny gl_word_left" id="similar_list" style="display:none;">
        </div>
      </div>
      <div><label class="left_float">关联词说明：</label>
        <textarea name="description" id="description" cols="" rows=""><%= discriminate.description if discriminate %></textarea>
      </div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="t_btn">保 存</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="t_btn" onclick="javascript:window.location.href='/phrases/search_list?category=<%= params[:category] %>&page=<%= params[:page] %>'">取 消</button>
      </div>
    </div>
  </div>
<% end %>