<!--动作详情、考试成绩、学习计划-->
<div class="user_tab_ul">
  <a href="javascript:void(0);" class="right_float" onclick="javascript:pop_window_closed(this);">
    <img src="/assets/x.gif" />
  </a>
  <ul>
    <li class="hover" onclick="javascript:change_tab(this);">动作详情</li>
    <li onclick="javascript:change_tab(this);">考试成绩</li>
    <li onclick="javascript:change_tab(this);">学习计划</li>
  </ul>
</div>
<div class="user_tab_box">
  <div id="user_action_logs_div">
    <%= render :partial => "/users/user_category_action_logs" %>
  </div>
  <div style="display: none;" id="user_simulations_div">
    <%= render :partial => "/users/user_category_simulations" %>
  </div>
  <div style="display: none;">
    <% if @study_plan %>
    <div class="st_play_p">开始时间：<%= @study_plan.created_at.strftime("%Y-%m-%d") %></div>
    <div class="st_play_p">预计完成：<%= @study_plan.ended_at.strftime("%Y-%m-%d") %></div>
    <div class="st_play_zt">
      <p>今日状态</p>
      <p><strong>已完成</strong></p>
    </div>
    <div class="st_load_box">
      <div class="st_hpjg"><img src="/assets/icon_hpjg.png" /></div>
      <div class="st_play_load"> <div class="st_play_bg" style="width: 200px;"></div> </div>
      <div class="st_day">第<%= ((Time.now - @study_plan.created_at)/1.day).to_i + 1 %>天</div>
    </div>
    <% else %>
    <div class="st_play_p">当前用户暂无参加学习计划</div>
    <% end %>
  </div>
</div>