<div class="error_jiexi_tab" id="xiangguan">
  <span class="yj_x"><img src="/assets/x.gif" onclick="javascript:$('#xiangguan').css('display','none');" /></span>
  <% if detail.words.blank? %>
    <center> <%= "没有相关词汇" %></center>
  <% else %>
    <% detail.words.each do |word| %>
      <div class="xs_add">
        <h2><%= word.name %></h2><span><%= Word::TYPES[word.types] %></span><span><%=word.phonetic  %></span>
        <a href="#"><img src="/assets/icon_lb.png" onclick="javascript:listen()" /></a>
        <div id="jplayer_1"></div>
        <script type="text/javascript">
          (function(){
            jQuery("#jplayer_1").jPlayer({
              swfPath: "/javascripts/jplayer",
              supplied: "mp3",
              wmode: "window"
            });
          })(jQuery)
          function listen(){
            $('#jplayer_1').jPlayer('setMedia',
            {mp3: '<%=Constant::SERVER_PATH+word.enunciate_url %>'});
            $('#jplayer_1').jPlayer('play');
          }
        </script>
        <div class="size_16"><%= word.en_mean %></div>
        <div><%= word.ch_mean %></div>
        <% unless word.word_sentences.blank? %>
          <% word.word_sentences.each do |sentence| %>
            <div class="word_liju">- <%= sentence.description %></div>
          <% end  %>
        <% else %>
          <%= "没有例句" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
