<%
attrs_str =error.question_attrs
attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
answers=[]
error.answer.split(";|;").collect { |item| answers << item.strip }
correct_type =error.correct_type
%>
<div class="er_pr_an">
  <% if (correct_type.to_i == Question::CORRECT_TYPE[:MORE_CHOSE] or
        correct_type.to_i == Question::CORRECT_TYPE[:SINGLE_CHOSE]) %>
    <ul>
      <%
      (0..attrs_array.length-1).each do |i|
        is_answer = answers.include?(attrs_array[i].strip)
      %>
        <li>
          <% if correct_type.to_i == Question::CORRECT_TYPE[:MORE_CHOSE] %>
            <input type="checkbox" name="question_attr_<%=error.error_id %>" id="question_attr_<%= i %>" disabled/>
          <% elsif correct_type.to_i == Question::CORRECT_TYPE[:SINGLE_CHOSE] %>
            <input type="radio" name="question_attr_<%=error.error_id %>"    id="question_attr_<%= i %>"disabled/>
          <% end %>&nbsp;&nbsp;
          <% if is_answer %>
            <script type="text/javascript">
              get_answer('<%= attrs_array[i].strip %>')
            </script>
          <% end %>
          <%= attrs_array[i] %>
        </li>
      <% end %>
    </ul>
  <% elsif correct_type.to_i == Question::CORRECT_TYPE[:JUDGE] %>
    <ul>
      <li>
        <input type="radio" disabled/><label>对</label>
      </li>
      <li>
        <input type="radio" disabled /><label>错</label>
      </li>
    </ul>
    <script type="text/javascript">
      get_answer('<%= answers[0]==0 ? "错":"对" %>')
    </script>
  <% elsif correct_type.to_i == Question::CORRECT_TYPE[:SINGLE_CALK] %>
    <div>
      <input name="answer" type="text" value="" disabled/>
    </div>
    <script type="text/javascript">
      get_answer('<%= answers[0] %>')
    </script>
  <% elsif correct_type.to_i == Question::CORRECT_TYPE[:CHARACTER] %>
    <div>
      <textarea cols="" rows=""readonly></textarea>
    </div>
    <script type="text/javascript">
      get_answer('<%= answers[0] %>')
    </script>
  <% elsif correct_type.to_i == Question::CORRECT_TYPE[:MORE_BLANKS] %>
    <div>
      <textarea disabled cols="" rows="" style="height:24px;"></textarea>
    </div>
    <% all_answer="" %>
    <% answers.each do |answer| %>
      <% all_answer += "#{answer};" %>
    <% end %>
    <script type="text/javascript">
      get_answer('<%= all_answer %>')
    </script>
  <% end %>
  <div class="answer_true"></div>
  <div><a href="#" onclick="javascript:$('.error_jiexi_tab').css('display','none');show_div('#jiexi');">解析</a><a href="#" onclick="javascript:$('.error_jiexi_tab').css('display','none');show_div('#xiangguan');">相关词汇</a><button class="t_btn" onclick="javascript:window.open('/papers/<%= error.pe_id %>/edit?category=<%= params[:category] %>')">编辑</button></div>
</div>