<%= javascript_include_tag "report_error" %>
<script type="text/javascript">
  function get_answer(str){
    alert($(".answer_true").text()+str.split(")")[0]);
    $(".answer_true").text(str)
    $(".answer_true").text($(".answer_true").text()+str.split(")")[0]) ;
  }
</script>
<%error=@single_error[0] %>
<div class="error_top">
  <div>
    <select name="" onchange="javascript:redirect_to(<%= params[:category] %>)">
      <option <%= "selected" if params[:error_type].nil? %> value="-1">全部</option>
      <option value="1" <%= "selected" if params[:error_type] == ReportError::TYPE[:TOPOIC].to_s %> >题目错误</option>
      <option value="2" <%= "selected" if params[:error_type] == ReportError::TYPE[:ANSWER].to_s %> >答案错误</option>
      <option value="3" <%= "selected" if params[:error_type] == ReportError::TYPE[:ANALISIS].to_s %> >解析错误</option>
      <option value="4" <%= "selected" if params[:error_type] == ReportError::TYPE[:WORD].to_s %> >词汇错误</option>
    </select>
    <span>【错误类型】</span>
  </div>
  <div>报告人：<span><%= error.name %></span></div>
  <div class="error_explain">错误说明：
    <span><%= error.r_desc %></span>
  </div>
  <%= form_for :error_list,:url=>"/report_errors/modify_status",:html=>{:id=>"error_form"} do %>
    <input type="hidden" value="<%= params[:error_type] %>" id="error_type" name="error_type"/>
    <input type="hidden" value="<%= params[:category] %>" id="category" name="category"/>
    <input type="hidden" value="" id="status" name="status"/>
    <input type="hidden" value="<%= error.error_id %>" name="id"/>
  <% end %>
  <div><button class="t_btn" onclick="javascript:modify_status(<%= error.error_id %>,1)">改好了</button><button class="t_btn" onclick="javascript:modify_status(<%= error.error_id %>,0)">忽略</button></div>
  <div>
    <span class="updown" onclick="javascript:window.location='/report_errors?category=<%= params[:category] %>&page=<%= (params[:page].nil?||params[:page].to_i==1)? 1:params[:page].to_i-1 %>'"><img src="/assets/icon_up.png"/></span>
    <span class="updown" onclick="javascript:window.location='/report_errors?category=<%= params[:category] %>&page=<%= (params[:page].to_i+1== @num)? @num-1:params[:page].nil? ? 1 : params[:page].to_i+1 %>'"><img src="/assets/icon_down.png" /></span>
  </div>
</div>

<div class="error_box">
  <div class="error_text_h">
    <p><%=error.pe_title %></p>
    <h2>第<%=params[:page].nil? ? 1:params[:page].to_i %>题（共<%=@num %>题）</h2>
  </div>
  <div class="error_nr">
    <%= error.p_title.to_s.html_safe  %>
  </div>
</div>
<% question=
  attrs_str =error.question_attrs
attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
answers=[]
error.answer.split(";|;").collect { |item| answers << item.strip }
correct_type =error.correct_type
%>
<div class="error_box">
  <div class="error_problem">
    <% unless  error.description.nil? or error.description == "" %>
      <% if correct_type.to_i == Question::CORRECT_TYPE[:MORE_BLANKS] %>
        <div><%= question.elements["description"].text.to_s.html_safe %>
    <%#*gsub("Question_x_dropplace", "Question_#{question_answer.attributes["id"]}_dropplace")  %>
    <%#*<script type="text/javascript">%>
    <%#*droppable_result('<%= answers.join(",") %>', '<%#= user_answers.join(",") %>', <%#= question_answer.attributes["id"] %>);%>
    <%#*</script>%>
        </div>
      <% else %>
        <div> <%= error.description.to_s.html_safe  %></div>
      <% end %>
    <% end %>
    <div class="er_pr_an">
      <% if (correct_type.to_i == Question::CORRECT_TYPE[:MORE_CHOSE] or
            correct_type.to_i == Question::CORRECT_TYPE[:SINGLE_CHOSE]) %>
        <ul>
          <%
          (0..attrs_array.length-1).each do |i|
            is_answer = answers.include?(attrs_array[i].strip)
          %>
            <li>
              <% if correct_type.to_i == Question::CORRECT_TYPE[:MORE_CHOSE] %>
                <input type="checkbox" name="question_attr_<%=error.error_id %>" id="question_attr_<%= i %>" disabled/>
              <% elsif correct_type.to_i == Question::CORRECT_TYPE[:SINGLE_CHOSE] %>
                <input type="radio" name="question_attr_<%=error.error_id %>"    id="question_attr_<%= i %>"disabled/>
              <% end %>&nbsp;&nbsp;
              <% if is_answer %>
                <script type="text/javascript">
                  get_answer('<%= attrs_array[i].strip %>')
                </script>
              <% end %>
              <%= attrs_array[i] %>
            </li>
          <% end %>
        </ul>
        <div class="answer_true">fffffffffff</div>
      <% elsif correct_type.to_i == Question::CORRECT_TYPE[:JUDGE] %>
        <ul>
          <li>
            <input type="radio" disabled/><label>对</label>
          </li>
          <li>
            <input type="radio" disabled /><label>错</label>
          </li>
        </ul>
      <% elsif correct_type.to_i == Question::CORRECT_TYPE[:SINGLE_CALK] %>
        <div>
          <input name="answer" type="text" value="" disabled/>
        </div>
      <% elsif correct_type.to_i == Question::CORRECT_TYPE[:CHARACTER] %>
        <div>
          <textarea cols="" rows=""readonly></textarea>
        </div>
      <% elsif correct_type.to_i == Question::CORRECT_TYPE[:MORE_BLANKS] %>
        <div>
          <textarea disabled cols="" rows="" style="height:24px;"></textarea>
        </div>
      <% end %>
      <div><a href="#">解析</a><a href="#">相关词汇</a><button class="t_btn">编辑</button></div>
    </div>
  </div>
</div>
