<%= javascript_include_tag "report_error" %>
<%= javascript_include_tag "jplayer/jquery.jplayer.min" %>
<script type="text/javascript">
  var answer=""
  function get_answer(str){alert(str);
    answer +=str.split(")")[0]+".";
  }
</script>

<% if @errors.blank? %>
  <div class="error_top">
    <%= render :partial=>"/report_errors/types" %>
    <%= "没有错误报告"   %>
  </div>
<% else %>
  <%error=@info[0] %>
  <div class="error_top">
    <%= render :partial=>"/report_errors/types" %>
    <div class="error_baog"><p>报告人：<span><%= error.name %></span></p><p><a href="javascript:show_div('.error_tab_list');">共有<%=@info[7] %>人报告</a></p></div>
    <div class="error_explain">错误说明：
      <span><%= error.r_desc %></span>
    </div>
    <%= form_for :error_list,:url=>"/report_errors/modify_status",:html=>{:id=>"error_form"} do %>
      <input type="hidden" value="<%=session[:error_type]%>" id="error_type" name="error_type"/>
      <input type="hidden" value="<%= params[:category] %>" id="category" name="category"/>
      <input type="hidden" value="" id="status" name="status"/>
      <input type="hidden" value="<%= error.id %>" name="id" id="id"/>
    <% end %>
    <div><button class="t_btn" onclick="javascript:modify_status(1)">改好了</button><button class="t_btn" onclick="javascript:modify_status(2)">忽略</button></div>
    <div><a class="updown" href="javascript:void(0);"
            <% if params[:page].nil?||params[:page].to_i==0 %>title="第一页"
            <%else%>
              onclick="javascript:window.location='/report_errors?category=<%= params[:category] %>&page=<%= @last %><%=
              unless session[:error_type].nil?
                "&error_type=#{session[:error_type]}"
              end %>'"
            <% end %>><img src="/assets/icon_up.png"/></a>
      <a class="updown"  <% if params[:page].to_i==@num-1 %>title="最后一页"
      <%else%>
           onclick="javascript:window.location='/report_errors?category=<%= params[:category] %>&page=<%= @next %><%=
           unless session[:error_type].nil?
             "&error_type=#{session[:error_type]}"
           end %>'"
         <% end %>><img src="/assets/icon_down.png" /></a>
    </div>
  </div>
  <div class="error_box">
    <div class="error_text_h">
      <p><%=@info[2].text unless @info[2].nil? %></p>
      <h2>第<%=@info[5] %>题（共<%=@info[6] %>题）</h2>
    </div>
    <div class="error_nr">
      <%= @info[3].text.to_s.html_safe unless @info[3].nil?  %>
    </div>
  </div>
  <%  question_desc=@info[1].elements["description"] %>
  <div class="error_box">
    <div class="error_problem">
      <div> <%=@info[1].attributes["id"]+"."+question_desc.text.to_s.html_safe unless question_desc.nil? %></div>
      <script type="text/javascript">
        setCookie("init_block","<%= @info[4]%>", null, "/");
        setCookie("init_problem","<%=@info[5] %>", null, "/");
      </script>
      <%= render :partial=>"/report_errors/error",:object=>@info %>
    </div>
  </div>
  <% analysis=@info[1].elements["analysis"]  %>
  <div class="error_jiexi_tab" id="jiexi">
    <span class="yj_x"><img src="/assets/x.gif" onclick="javascript:$('#jiexi').css('display','none');" /></span>
    <div class="xs_add"><%=  analysis.nil? ? "此题没有解析":analysis.text %></div>
  </div>
  <%= render :partial=>"/report_errors/detail",:object=>@word %>
  <div class="error_tab_list"></div>
  <script type="text/javascript">
    get_others(<%= error.question_id %>);
  </script>
<% end %>