<%= javascript_include_tag "report_error" %>
<%= javascript_include_tag "jplayer/jquery.jplayer.min" %>
<% if @errors.blank? %>
  <div class="error_top">
    <%= render :partial=>"/report_errors/types" %>
    <%= "没有错误报告"   %>
  </div>
<% else %>
  <%error=@info[0] %>
  <div class="error_top">
    <%= render :partial=>"/report_errors/types" %>
    <div class="error_baog"><p>报告人：<span><%= error.name %></span></p><p><a href="javascript:show_div('.error_tab_list');">共有<%=@info[7] %>人报告</a></p></div>
    <div class="error_explain">错误说明：
      <span><%= error.r_desc %></span>
    </div>
    <%= form_for :error_list,:url=>"/report_errors/modify_status",:html=>{:id=>"error_form"} do %>
      <input type="hidden" value="<%=session[:error_type]%>" id="error_type" name="error_type"/>
      <input type="hidden" value="<%= params[:category] %>" id="category" name="category"/>
      <input type="hidden" value="" id="status" name="status"/>
      <input type="hidden" value="<%= error.question_id %>" name="id" id="id"/>
      <input type="hidden" value="<%= @info[2].text %>" name="title"/>
      <input type="hidden" value="<%= @info[5] %>" name="question_index"/>
    <% end %>
    <div><button class="t_btn" onclick="javascript:modify_status(1)">改好了</button><button class="t_btn" onclick="javascript:modify_status(2)">忽略</button></div>
    <div><a class="updown" href="javascript:void(0);"
            <% if params[:page].nil?||params[:page].to_i==0 %>title="第一页"
            <%else%>
              onclick="javascript:window.location='/report_errors?category=<%= params[:category] %>&page=<%= @last %><%=
              unless session[:error_type].nil?
                "&error_type=#{session[:error_type]}"
              end %>'"
            <% end %>><img src="/assets/icon_up.png"/></a>
      <a class="updown"  <% if params[:page].to_i==@num-1 %>title="最后一页"
      <%else%>
           onclick="javascript:window.location='/report_errors?category=<%= params[:category] %>&page=<%= @next %><%=
           unless session[:error_type].nil?
             "&error_type=#{session[:error_type]}"
           end %>'"
         <% end %>><img src="/assets/icon_down.png" /></a>
    </div>
  </div>
  <%= render :partial=>"/common/flowplayer" %>
  <div class="error_box">
    <div class="error_text_h">
      <p><%=@info[2].text unless @info[2].nil? %></p>
      <h2>第<%=@info[5] %>题（共<%=@info[6] %>题）</h2>
    </div>
    <div class="error_nr">
      <% problem=@info[3] %>
      <div id='jplayer_location_<%= problem.attributes["id"] %>'></div>
      <% audio_title = (problem.elements["title"].nil? or problem.elements["title"].text.nil?) ? [] : problem.elements["title"].text.split("((mp3))")  %>
      <% if audio_title[1] != nil %>
        <% audio_title[1]="<input type='button' style='display:none' class='video_button' id='jplayer_button_#{problem.attributes["id"]}' value='更新音频' onclick=javascript:get_flowplayer('#{problem.attributes["id"]}','"+ audio_title[1]+"'); />" %>
      <% end %>
      <% if !problem.attributes["question_type"].nil? and problem.attributes["question_type"].to_i==Problem::QUESTION_TYPE[:INNER] %>
        <%  problem.elements["title"].text=audio_title.join("") %>
        <%= render :partial=>"/report_errors/problem_title",:object=>problem %>
      <% else %>
        <%= audio_title.join("").html_safe %>
      <% end %>
      <div class="drag_tk_box" id="<%= problem.attributes["id"] %>">
        <div class="drag_tk border_radius" id="drag_tk_<%= problem.attributes["id"] %>">
          <ul id="draggable_list_<%= problem.attributes["id"] %>"></ul>
        </div>
      </div>
      <script type="text/javascript">
        $("#draggable_list_"+'<%= problem.attributes["id"] %>').html($("#drag_li_"+<%= problem.attributes["id"] %>).val());
      </script>
    </div>
  </div>
  <%  question_desc=@info[1].elements["description"] %>
  <div class="error_box">
    <div class="error_problem">
      <div> <%=@info[1].attributes["id"]+"."+question_desc.text.to_s.html_safe unless question_desc.nil? %></div>
      <%= render :partial=>"/report_errors/error",:object=>@info %>
    </div>
  </div>
  <% analysis=@info[1].elements["analysis"]  %>
  <div class="error_jiexi_tab" id="jiexi">
    <span class="yj_x"><img src="/assets/x.gif" onclick="javascript:$('#jiexi').css('display','none');" /></span>
    <div class="xs_add"><center><%=  (analysis.nil?||analysis.text.nil?||analysis.text=="") ? "此题没有解析":analysis.text %></center></div>
  </div>
  <%= render :partial=>"/report_errors/detail",:object=>@word %>
  <div class="error_tab_list"></div>
  <script type="text/javascript">
    get_others(<%= error.question_id %>);
    $(function(){
      $(".drag_tk_box").each(function(){
        $("#"+this.id).css("height",$("#drag_tk_"+this.id).height()+20);
      })
      $(".video_button").trigger("onclick");
    })
    
  </script>
<% end %>