<% words =download_word %>
<ul>
  <%  single_word=words.split(",;,") %>
  <input type="hidden" id="phonetic" value="<%=single_word[4] %>" />
  <input type="hidden" id="sentence" value="<%=single_word[6] %>" />
  <input type="hidden" id="en_mean" value="<%=single_word[2] %>"/>
  <input type="hidden" id="ch_mean" value="<%=single_word[3] %>"/>
  <input type="hidden" id="types" value="<%=single_word[1] %>"/>
  <input type="hidden" id="name" value="<%=single_word[0] %>"/>
  <input type="hidden" id="enunciate_url" value="<%=single_word[5] %>"/>
  <li><a class="single_word_li single_word" href="javascript:void(0);"
         onclick="javascript:show_single_word_detail('1');" ><%=single_word[0] %></a></li>
</ul>
