<% words =download_word %>
<ul>
  
  <%  single_word=words.split(",;,") %>
   <input type="hidden" id="word_phonetic" value="<%=single_word[4] %>" />
  <li><a class="single_word_li single_word" href="javascript:void(0);"
         onclick="javascript:$('.word_liju').html('<%= single_word[6] %>');show_single_word_detail($(this),'<%=single_word[0]%>',
             '<%= single_word[2]%>','<%= single_word[3] %>','<%=single_word[1] %>',$('#word_phonetic').val(),
             '<%= single_word[5] %>','1');" ><%=single_word[0] %></a></li>
</ul>
