

<div class="main_title">
  <span class="yl_bc"><a href="#">预览</a> | <a href="#">保存</a></span>
  <div class="m_t_h">试卷信息</div>
</div>

<div class="text_box">
  <div class="bj_info">
    <div class="bj_info_left">
      <ul>
        <% @xml.elements['blocks'].each_element do |block|%>
          <li id="blocks_li" class="blocks_li">
            <a href="javascript:void(0);"><%= block.elements['base_info/title'].text %></a>
            <span onclick="javascript:load_edit_block('<%= block.xpath %>','<%= block.elements['base_info/title'].text %>','<%= block.attributes['start_time'] %>','<%= block.attributes['time'] %>');stop_bunble();" ><img title="编辑" alt="icon_bi" src="/assets/icon_bi.png" /></span>
          </li>
        <% end %>
      </ul>
      <a href="#" class="add_a" onclick="javascript:load_edit_block('','','0','0');">添加部分</a>
    </div>
    <script type="text/javascript" >
      // 控制"block"模块的显示/隐藏，默认显示第一个模块

      $(function(){
        $(".blocks_li").bind("click",function(){      
          $(".blocks_li").removeClass("hover");
          $(this).addClass("hover");
          $(".bj_info_right").css("display","none");
          $(".bj_info_right")[$(".blocks_li").index(this)].style.display="block";
        })
        $("#blocks_li").trigger("click");
      })
    </script>

    <% block_index = 0; @xml.elements['blocks'].each_element do |block| ; block_index +=1 %>
      <div class="bj_info_right" style="display:none;">
        <div class="bj_info_top">
          <div class="info_Box">
            <div class="prev">&lt;</div>
            <div class="info_show">
              <ul class="info_ul">
                <% problem_index = 0;
                block.elements["problems"].each_element do |problem|
                  problem_index += 1 %>
                  <li><a href="javascript:void(0);" id="problems_li_<%= block_index %>" class="problems_li_<%= block_index %>"><%= problem_index %></a></li>
                <% end %>
              </ul>
            </div>
            <div class="next">&gt;</div>
          </div>
          <a href="#" class="add_a left_float problems_li_<%= block_index %>" id="problems_li_<%= block_index %>">添加问题</a>
        </div>

        <script type="text/javascript" >
          // 控制"problem"模块的显示/隐藏，同样默认显示第一个模块
          
          $(function(){
            $(".problems_li_<%= block_index %>").bind("click",function(){
              $(".problems_li_<%= block_index %>").removeClass("hover");
              $(this).addClass("hover");
              $(".bj_info_box_<%= block_index %>").css("display","none");
              $(".bj_info_box_<%= block_index %>")[$(".problems_li_<%= block_index %>").index(this)].style.display="block";
            })
            $("#problems_li_<%= block_index %>").trigger("click"); //显示第一题
          })

        </script>

        <% block.elements["problems"].each_element do |problem| %>
          <div class="bj_info_box bj_info_box_<%= block_index %>" style="display:none;" >
            <div class="question_content">
              <div class="qc_h">说明 </div>
              <div><textarea cols="" rows=""  class="qc_textarea1"><%= problem.elements["description"].text unless problem.elements["description"].nil? %></textarea></div>
              <div class="qc_h"><span class="yl_bc"><a href="#">插入标记</a> | <a href="#">插入录音</a> | <a href="#">插入图片</a></span>题目内容</div>
              <div><textarea cols="" rows=""  class="qc_textarea2"><%= problem.elements["title"].text unless problem.elements["title"].nil? %></textarea></div>
            </div>

            <div class="question_bianji">
              <div class="qu_tab">
                <ul class="q_tab_ul">
                  <li class="hover">在题面中插入小题</li>
                  <li>在题面后追加小题</li>
                </ul>
                <div class="q_tab_div">
                  <div>
                    <ul>
                      <li><a href="#">单选题</a></li>
                      <li><a href="#">填空题</a></li>
                      <li><a href="#">拖拽题</a></li>
                    </ul>
                  </div>
                  <div style="display: none;">
                    <ul>
                      <li><a href="#">单选题</a></li>
                      <li><a href="#">多选题</a></li>
                      <li><a href="#">简答题</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="question_list_box">

                <% problem.elements["questions"].each_element do |question| %>
                  <% answer = question.elements["answer"].text %><% correct_type = question.attributes["correct_type"].to_i %>
                  <input type="hidden" value="<%= correct_type %>" class="correct_type" id="correct_type" />

                  <div class="question_list">
                    <div class="q_l_text">
                      <div class="q_l_word"><p class="q_w_p">some/any/Some</p><p class="q_w_img"><img alt="icon_shu"   src="/assets/icon_shu.png"/></p></div>
                      <div class="q_l_word"><p class="q_w_p"><em>限定词的用法</em></p><p>分值：<span class="red"><%= question.attributes["score"] unless question.attributes["score"].nil? %></span></p></div>
                    </div>
                    <div class="q_l_answer">
                      <div class="qa_h">小题描述<textarea name="" cols="" rows="" class="qa_textarea"><%= question.elements["description"].text unless question.elements["description"].nil? %></textarea></div>
                      <div class="qa_h"><span class="yl_bc"><input name="" type="checkbox" value=""/> 自动批改</span>答案</div>
                      <% if correct_type == Problem::QUESTION_TYPE[:SINGLE_CALK] %>
                        <input name="" type="text" value="<%= answer unless answer.nil? %>" class="qa_input"/>
                      <% elsif correct_type == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
                        <ul><% question.elements["questionattrs"].text.split(";-;").each do |attr| %><li><input name="" type="radio" value="" <% if answer.split(";|;").include?(attr) %>checked="true"<% end %> /><input name="" type="text" value="<%= attr %>" /><a href="#">[删除]</a></li><% end %></ul>
                      <% elsif correct_type == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
                        <ul><% question.elements["questionattrs"].text.split(";-;").each do |attr| %><li><input name="" type="checkbox" value="" <% if answer.split(";|;").include?(attr) %>checked="true"<% end %> /><input name="" type="text" value="<%= attr %>" /><a href="#">[删除]</a></li><% end %></ul>
                      <% elsif correct_type == Problem::QUESTION_TYPE[:JUDGE] %>
                        <ul><li><input name="" type="radio" value="" <% if answer=="1" %>checked="true"<% end %> /> 是/对</li><li><input name="" type="radio" value="" <% if answer=="0" %>checked="true"<% end %> /> 否/错</li></ul>
                      <% end #小题分类显示结束 %>

                      <div class="qa_h">解析</div>
                      <textarea name="" cols="" rows="" class="qa_textarea"><%= question.elements["analysis"].text unless question.elements["analysis"].nil? %></textarea>
                      <div class="clear"></div>
                      <div class="q_label">
                        <div><strong>知识点标签</strong> </div>
                        <div><% unless question.elements["tags"].nil? %><%= question.elements["tags"].text %><a href="#" class="q_re_a">X</a><% end %></div>
                        <a href="#">添加标签</a>
                      </div>
                      <div class="q_label">
                        <div><strong>词汇</strong></div>
                        <div>限定词<a href="#" class="q_re_a">X</a></div>
                        <a href="#">添加词汇</a>
                      </div>
                      <div class="clear"></div>
                      <div class="qa_h">分值 <input name="" type="text" value="<%= question.attributes["score"] unless question.attributes["score"].nil? %>" /></div>
                      <div class="qa_h">
                        &nbsp;&nbsp;&nbsp;&nbsp;<button class="t_btn">保存</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;<button class="t_btn">删除</button>
                      </div>
                    </div>
                  </div>
                <% end #questions循环结束 %>


              </div>
            </div>
          </div>
        <% end #problems循环结束 %>


        <!-- 新建 problem 表单 START  -->
        <div class="bj_info_box bj_info_box_<%= block_index %>" style="display:none;">
          <%= form_for :create_problem ,:url=>"/papers/#{params[:id]}/create_problem" ,:html=>{:onsubmit=>""} do |f| %>
          <%= f.hidden_field :block_index ,:value=>"#{block_index}" %>
          <div class="question_content">
            <div class="qc_h">说明</div>
            <div><textarea id="problem_description" name="problem[description]" class="qc_textarea1"></textarea></div>
            <div class="qc_h"><span class="yl_bc"><a href="#">插入标记</a> | <a href="#">插入录音</a> | <a href="#">插入图片</a></span>题目内容</div>
            <div><textarea id="problem_title" name="problem[title]" class="qc_textarea2"></textarea></div>
          </div>

          <div class="question_bianji">
            <div class="qu_tab">
              <ul class="q_tab_ul"><li class="hover">在题面中插入小题</li><li>在题面后追加小题</li></ul>
              <div class="q_tab_div">
                <div><ul><li><a href="#">单选题</a></li> <li><a href="#">填空题</a></li><li><a href="#">拖拽题</a></li></ul></div>
                <div style="display: none;"><ul><li><a href="#">单选题</a></li><li><a href="#">多选题</a></li><li><a href="#">简答题</a></li></ul></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="question_list_box">
              <%= f.submit "确认" %>
            </div>
          </div>
          <% end %>
        </div>
        <!--  新建 problem 表单 END  -->

      </div>
    <% end #blocks循环结束 %>
    <div class="clear"></div>
  </div>
</div>



<!--  新建、编辑 block 表单  START  -->
<div class="zhezhao" id="zhezhao" style="display: none; height: 100%;position:fixed; "></div>
<div class="part_info" style="display:none;">
  <%= form_for :edit_block_baseinfo ,:url=>"/papers/#{params[:id]}/edit_block_baseinfo" ,:html=>{:onsubmit=>"return validate_form_block_baseinfo();"} do |f| %>
    <span class="yj_x"><img alt="assets/x.gif" src="/assets/x.gif" onclick="javascript:close_part_info();" /></span>
    <div class="qc_h"><strong>部分信息</strong></div>
    <table width="400" border="0" cellpadding="0" cellspacing="1">
      <tbody><tr>
      <input type="hidden" id="block_xpath" name="block_xpath"></input>
      <td>名称：</td>
      <td><input id="block_name" name="block_name" type="text" /></td>
      </tr>
      <tr>
        <td>开始时间：</td>
        <td><input name="start_time" id="block_start_time_radio1" type="radio" value="0" onclick="javascript:$('#block_start_time').attr('disabled','disabled');" />无限制&nbsp;&nbsp;&nbsp;<input name="start_time" id="block_start_time_radio2" type="radio" value="" onclick="javascript:$('#block_start_time').removeAttr('disabled').focus().select();" />开始于第<input name="block_start_time" id="block_start_time" type="text" size="5" onchange="javascript:$('#block_start_time_radio2').val(this.value);"/>分钟</td>
      </tr>
      <tr>
        <td>部分时长：</td>
        <td><input name="time" type="radio" id="block_time_radio1" value="0" onclick="javascript:$('#block_time').attr('disabled','disabled');"/>无限制&nbsp;&nbsp;&nbsp;<input  name="time" id="block_time_radio2" type="radio" value="" onclick="javascript:$('#block_time').removeAttr('disabled').focus().select();" />时长<input name="block_time" id="block_time" type="text" size="5" onchange="javascript:$('#block_time_radio2').val(this.value);" />分钟</td>
      </tr>
      <tr>
        <td>说明：</td>
        <td><textarea name="" cols="" rows=""></textarea></td>
      </tr>
      </tbody></table>
    <br/>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="t_btn" value="保存"></input></div>
    <% end %>
</div>
<!--  新建、编辑 block 表单  END  -->