<%= javascript_include_tag "study_plan" %>
<div class="main_title">
  <div class="m_t_h">学习计划</div>
</div>
<div class="text_box">
  <div class="bianji_ny">
    <%= form_for :task_info,:url=>"/study_plans/create_plan",:html=>{:id=>"task_form"},:method=>:post do  %>
      <% if @study.nil? %>
        <div>天数： <input name="" type="text" name="date" id="date"/></div>
        <div>任务： <div id="tasks"></div><a href="javascript:$('.add_renwu').css('display','');" class="gl_add_a">添加任务</a></div>
        <div><button class="t_btn">保存</button></div>
      <% else %>
        <input type="hidden" value="" id="task_ids" />
        <div>天数： <input value="<%= @study.study_date %>" name="date" id="date" type="text" /></div>
        <div>任务：<div id="real_tasks"><% @plans.each do |plan| %>
              <p class="rw_list" id="task_<%= plan.id %>"><span>周期：<%= PlanTask::PERIOD_NAMES[plan.period_types] %></span><span>任务：
                  <%= PlanTask::TYPES_NAME[plan.task_types] %></span><span>数量：<%= plan.num %></span><span>
                  <a href="javascript:void(0);" onclick="javascript:delete_real_task(<%= plan.id %>);">[删除]</a></span></p>
            <% end unless @plans.blank? %></div>
          <div id="tasks"></div>
          <a href="javascript:void(0);" onclick="javascript:show_div('.add_renwu');" class="gl_add_a">添加任务</a>
        </div>
        <div><button class="t_btn">提交更新</button></div>
      <% end %>
      <input type="hidden" value="<%= params[:category] %>" id="category" name="category"/>
      <input type="hidden" value="" id="delete_task_ids" name="delete_task_ids" />
    <% end %>
  </div>
</div>


<div class="add_renwu" style="display:none">
  <span class="yj_x"><img src="/assets/x.gif" onclick="javascript:$('.add_renwu').css('display','none');" /></span>
  <div>周期： <input name="period" type="radio" value="<%= PlanTask::PERIOD_TYPES[:EVERYDAY] %>" />每天 <input name="period" type="radio" value="<%= PlanTask::PERIOD_TYPES[:PERIOD] %>" />整个期间</div>
  <div>任务：
    <select name="">
      <option value="-1">任务类型</option>
      <option value="<%= PlanTask::TASK_TYPES[:PRACTICE] %>">做题</option>
      <option value="<%= PlanTask::TASK_TYPES[:RECITE] %>">背词</option>
      <option value="<%= PlanTask::TASK_TYPES[:EXAM] %>">模拟考试</option>
    </select>
  </div>
  <div>数量：<input id="amount" type="text" /></div>
  <div><button class="t_btn">添加</button></div>
</div>

