<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><% if @title != nil %><%= @title %><% else %>赶考<% end %></title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "login_jquery" %>
    <%= javascript_include_tag "categories.js" %>
    <%= javascript_include_tag "papers.js" %>
    <%= csrf_meta_tags %>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      /* EXAMPLE */
      DD_belatedPNG.fix('*');
      /* string argument can be any CSS selector */
      /* .png_bg example is unnecessary */
      /* change it to what suits you! */
    </script>
    <![endif]-->
  </head>

  <body>
    <div class="wrap">
      <div class="head">
        <div class="logo" style="height:200;"><img src="/assets/login_logo.png" /></div>
        <div class="nav">
          <ul>
            <li><a href="/categories" <%  if controller.controller_name =="categories" %> class="hover" <% end %> >科&nbsp;&nbsp;目</a></li>
            <li><a href="#">用&nbsp;&nbsp;户</a></li>
            <li><a href="#">运营数据</a></li>
            <% if !params['category'].nil? %>
              <li><a href="#" class="hover"><%= Category.find(params['category']).name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="main">
        <% if !params['category'].nil? %>
          <div class="nav_list">
            <ul>
              <li><a href="/papers?category=<%= params['category'] %>">试卷</a></li>
              <li>|</li>
              <li><a href="/similarities?category=<%= params['category'] %>">真题</a></li>
              <li>|</li>
              <li><a href="#">模拟考试</a></li>
              <li>|</li>
              <li><a href="#">微课</a></li>
              <li>|</li>
              <li><a href="#">讨论</a></li>
            </ul>
          </div>
        <% else %>
          <div class="nav_list"> </div>
        <% end %>

        <%= yield %>

        <div class="main_bottom"></div>
      </div>
    </div>
    <%= render :partial => "/common/flash_div" %>
  </body>
</html>
