<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><% if @title != nil %><%= @title %><% else %>赶考<% end %></title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "categories.js" %>
    <%= csrf_meta_tags %>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      /* EXAMPLE */
      DD_belatedPNG.fix('*');
      /* string argument can be any CSS selector */
      /* .png_bg example is unnecessary */
      /* change it to what suits you! */
    </script>
    <![endif]-->
  </head>

  <body>
    <div class="wrap">
      <div class="logo"><img src="/assets/login_logo.png" /></div>
      <div class="main">
        <div class="nav">
          <ul>
            <li><a href="#" class="hover">科&nbsp;&nbsp;目</a></li>
            <li><a href="#">用&nbsp;&nbsp;户</a></li>
            <li><a href="#">运营数据</a></li>
            <li><a href="#">大学英语四级</a></li>
          </ul>
        </div>
        <div class="nav_list"> </div>
        <%= yield %>
        <div class="main_bottom"></div>
      </div>
    </div>
  </body>
</html>
